<!-- TLOU -->
<div class="modal fade" id="tlouArticle">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" id="btnCloseModal" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="row">
                <div class="col-lg-5">
                    <img src="/assets/picts/news/articles/tlouPart3.jpg" alt="pictTlou" class="img-fluid w-100"/>
                </div>
                <div class="col-lg-7">
                    <p>Les rumeurs autour d'un potentiel The Last of Us Part 3 ont commencé à circuler dès la sortie du second opus en 2020, mais ont pris réellement forme fin 2022 lorsqu'un certain ViewerAnon, connu pour avoir annoncé Crash Bandicoot 4 : It's About Time avant tout le monde et dévoilé de nombreux détails sur la série, a déclaré de but en blanc que le prochain jeu de Neil Druckmann au sein de Naughty Dog (après le jeu multijoueur, ndlr), était The Last of Us Part III.</p>
                    <br />
                    <p>Un autre indice sur le troisième volet de la série de jeux bien-aimée est la fuite supposée de l'utilisateur Twitter @DanielRPK. Caché derrière un mur payant de son patreon, il prétend avoir des informations sur les autres acteurs en plus d'Ellie ainsi que sur des parties de l'intrigue. L'utilisateur de Reddit u/-LastGrail- a partagé ce qu'il en est :</p>
                    <p>Une partie de l'intrigue portera sur un groupe de charognards survivant à la périphérie d'une ville post-apocalyptique, entassés dans une maison victorienne qui leur sert de base. Selon cela, Naughty Dog cherche à jouer ces cinq nouveaux rôles :</p>
                    <br />
                    <div class="info">
                        <ul>
                            <li>Lucas, un gars sympathique qui développe une relation avec un autre charognard et prend une tournure sombre</li>
                            <li>Val, femme, leader du groupe</li>
                            <li>Ezra, mâle, veut reprendre la maison de Val</li>
                            <li>Mason, un ancien soldat. Lorsque Val est nommé aux commandes, Mason doit choisir entre sa loyauté envers Ezra et la maison</li>
                            <li>Gracie, femme, 18 - 25 ans sans autre information</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AC4BLACKFLAG -->
<div class="modal fade" id="ac4BlackFlagArticle">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" id="btnCloseModal" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="row">
                <div class="col-lg-5">
                    <img src="/assets/picts/news/articles/ac4BlackFlag.jpg" alt="pictTlou" class="img-fluid w-100"/>
                </div>
                <div class="col-lg-7">
                    <p>Ubisoft double ses franchises les plus populaires, dont Assassin's Creed. Kotaku a appris que la stratégie comprend désormais un remake d'Assassin's Creed IV Black Flag, la pièce de la période fantastique des pirates du XVIIIe siècle et l'une des entrées les plus mémorables de la série. C'est ce que de nombreux fans ont demandé à chaque fois qu'ils voient une nouvelle bande-annonce pour Skull and Bones, l'autre jeu de pirates d'Ubisoft longtemps piégé dans l'enfer du développement.</p>
                    <br />
                    <p>Une équipe d'Ubisoft Singapour, l'un des studios qui a dirigé le développement de la technologie océanique évolutive de la franchise Assassin's Creed, sera fortement impliquée dans la modernisation du jeu de voile basé dans les Caraïbes.</p>
                    <br />
                    <p>À ce stade, on ne sait pas encore dans quelle mesure le gameplay et les systèmes sous-jacents évolueront pour s'adapter au moule RPG en monde ouvert plus tentaculaire des récentes versions à gros budget d'Assassin's Creed comme Odyssey et Valhalla. Mais étant donné l'accent mis par Black Flag sur le combat entre navires, l'un des aspects les plus populaires du jeu, il y a beaucoup de place pour transformer une nouvelle version du jeu en quelque chose de plus dramatique qu'un simple remaster « nouvelle génération » sur PlayStation. 5 et Xbox Series X/S.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- RED DEAD REDEMPTION -->
<div class="modal fade" id="rdrArticle">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" id="btnCloseModal" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="row">
                <div class="col-lg-5">
                    <img src="/assets/picts/news/articles/rdr.jpg" alt="pictTlou" class="img-fluid w-100"/>
                </div>
                <div class="col-lg-7">
                    <p>Red Dead Redemption a marqué le jeu vidéo de son empreinte. Il y a 13 ans, Rockstar prenait tout le monde de court avec son monde ouvert riche comme jamais vu auparavant, son gameplay prenant et son histoire au final bouleversant. Une œuvre incontestablement culte, mais qui accuse aujourd’hui le poids des années. Il se murmurait bien qu’un Red Dead Redemption Remaster était en chantier avant que le studio américain ne décide de concentrer ses efforts sur GTA 6. La rumeur veut que plusieurs remasters aient été annulés. Pourtant il semblerait qu’une nouvelle version de RDR ne vienne de fuiter.</p>
                    <br />
                    <p>Depuis quelque temps déjà, l'idée d'un remake ou remaster du premier jeu Red Dead Redemption revient sur le devant de la scène. Au cours des années précédentes, un tel projet aurait bien été dans les tuyaux de Rockstar, avant que le studio ne décide de se focaliser sur Grand Theft Auto VI.. Ce remake/remaster n'aurait pas été enterré pour autant, mais simplement mis de côté en attendant la sortie du nouveau GTA. Sauf que le projet refait parler de lui aujourd'hui.</p>
                    <br />
                    <p>Gematsu rapporte ainsi que Red Dead Redemption premier du nom aurait reçu une nouvelle classification en Corée du Sud. Sauf que les versions PS3 et Xbox 360 du jeu original, ainsi que celles de son stand-alone Undead Nightmare et enfin la version GOTY possèdent déjà toutes une classification dans le pays. Cela laisse donc présager un retour de la licence, d'une manière ou d'une autre. Portage PC, remake ou vrai remaster ? On ne peut qu'espérer. Il va maintenant falloir patienter jusqu'à ce que Rockstar nous dévoile de plus amples informations.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CYBERPUNK 2077 -->
<div class="modal fade" id="cyberpunk2077Article">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" id="btnCloseModal" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="row">
                <div class="col-lg-5">
                    <img src="/assets/picts/news/articles/cyberpunk2077.jpg" alt="pictTlou" class="img-fluid w-100"/>
                </div>
                <div class="col-lg-7">
                    <p>L’extension imaginée par CD Projekt RED ne se déroule ni avant ni après les événements du jeu d’origine.</p>
                    <br />
                    <p>V est ainsi contacté par une netrunner légendaire du nom de SongBird qui lui confie, en échange d’une promesse de remède, une mission de la plus haute importance : sauver la présidente des NUSA (pour New United States of America) suite au piratage de Space Force One, puis au crash de son avion au coeur de Night City.</p>
                    <p>Pari réussi pour Cyberpunk 2077 qui troque sa tonalité “film d’action explosif” le temps d’une mission d’envergure aux conséquences encore inconnues, mais qui devraient impacter la vie de V.</p>
                    <br />
                    <p>V va avoir la chance d'explorer un nouveau quartier pouvant être jugé un tantinet petit et jusqu’ici inaccessible. CD Projekt RED a orchestré une refonte totale de l’arbre de compétences afin d’affiner la personnalisation des avatars, mais aussi de coller à la récente carrière d’espion de V. Seule la répartition des points d'avantage est à refaire selon les options mises à disposition par CD Projekt RED.</p>
                    <br />
                    <p>Cyberpunk 2077 : Phantom Liberty pourrait bien être l’extension tant attendue par les fans du jeu, des studios CD Projekt RED et de science-fiction. L’histoire promet de nous embarquer dans un thriller d’espionnage haletant aux côtés d’un Idris Elba toujours plus cool et charismatique. Le mot d’ordre est ici d’enrichir et d’améliorer l’existant sans dénaturer l’expérience originelle. La nouvelle zone, certes petite, est une invitation à explorer une fois de plus Night City. Même la refonte de l’arbre de compétences, qui ne change pas radicalement le gameplay, pousse la personnalisation un cran plus loin. La formule CP 2077 reste fondamentalement la même. Le plaisir est simplement “augmenté”.</p>
                </div>
            </div>
        </div>
    </div>
</div>