<div class="modal fade" id="logIn">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <p class="pionnier">"Nous sommes les pionniers des mondes numériques"</p>
        <div class="modal-content">
            <button type="button" id="btnCloseLogIn" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="modal-body">
                <p class="connect">Connectez-vous :</p>
                <form action="/logIn" method="post">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="Votre Adresse Email" required>

                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Votre Mot De Passe" required>
                </form>
                <div class="listLogIn">
                    <p class="noAccount"><a href="#" data-bs-toggle="modal" data-bs-target="#signUp">Pas de compte</a></p>
                    <button type="button" id="btnConnect">Se connecter</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signUp">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <p class="actors">"Nous sommes acteurs de nos propres aventures"</p>
        <div class="modal-content">
            <button type="button" id="btnCloseSignUp" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="modal-body">
                <p class="inscribe">Inscrivez-vous :</p>
                <form action="/signUp" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="prénom"></label>
                            <input type="text" name="prénom" id="prénom" placeholder="Votre Prénom" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="nom"></label>
                            <input type="text" name="nom" id="nom" placeholder="Votre Nom" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="prénom"></label>
                            <input type="text" name="prénom" id="prénom" placeholder="Votre Prénom" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="nom"></label>
                            <input type="text" name="nom" id="nom" placeholder="Votre Nom" required>
                        </div>
                    </div>
                </form>
                <div class="listSignUp">
                    <p class="noAccount"><a href="#" data-bs-toggle="modal" data-bs-target="#logIn">Vous avez un compte</a></p>
                    <button type="button" id="btnConnect">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>
</div>