<div class="news">
    <div class="containNews">
        <video class="newsBackground" autoplay muted loop>
            <source src="/assets/picts/PS3 XMB Wave Blue.mp4" type="video/mp4">
        </video>
        <div class="listNews">
            <p class="lastNews">Les dernières News du moment :</p>
            <div class="containCards">
                <div class="col-lg-4">
                    <div class="card" style="background-image: url('/assets/picts/news/theLastOfUsNews.jpg')">
                        <div class="card-body">
                            <div class="newsArticles">
                                <p class="titleNews">THE LAST OF US PART III : PREMIERS LEAKS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="background-image: url('/assets/picts/news/ac4BlackFlagNews.jpg')">
                        <div class="card-body">
                            <div class="newsArticles">
                                <p class="titleNews">AC 4 BLACK FLAG : LE REMAKE EN QUESTION</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="background-image: url('/assets/picts/news/redDeadRedemptionNews.jpg')">
                        <div class="card-body">
                            <div class="newsArticles">
                                <p class="titleNews">RDR REMASTER : LE FAUX ESPOIR DES FANS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="background-image: url('/assets/picts/news/cyberpunk2077News.png')">
                        <div class="card-body">
                            <div class="newsArticles">
                                <p class="titleNews">CYBERPUNK 2077 : PHANTHOM LIBERTY (PREVIEW)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="otherNews">
                <a href="#" class="other">VOIR D'AUTRES NEWS</a>
            </div>
            <div class="footer">
                <p class="copyrigth">© Pixels Geek</p>
                <div class="listSocial">
                    <li>
                        <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>