<div class="news">
    <div class="containNews">
        <video class="newsBackground" autoplay muted loop>
            <source src="/assets/picts/PS3 XMB Wave Blue.mp4" type="video/mp4">
        </video>
        <div class="listNews">
            <p class="lastNews">L'offre du moment :</p>
            <div class="containCard">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12" id="game">
                                <img src="/assets/picts/offers/baldursGate3.png" alt="pictBG3" class="img-fluid w-100">
                            </div>
                            <div class="col-lg-2 col-md-12" id="plus">
                                <p class="plus">+</p>
                            </div>
                            <div class="col-lg-4 col-md-12" id="tshirt">
                                <img src="/assets/picts/offers/baldursGate3TShirt.png" alt="pictTshirtBG3" class="img-fluid w-100">
                            </div>
                        </div>
                        <p class="offer">Pour l'achat de Baldur's Gate III, un t-shirt est offert <button type="button" id="btnBuy">ACHETER</button></p>
                    </div>
                </div>
            </div>
            <div class="otherOffers">
                <a href="#" class="other">VOIR D'AUTRES OFFRES</a>
            </div>
            <div class="footer">
                <p class="copyrigth">© Pixels Geek</p>
                <div class="listSocial">
                    <li>
                        <a href="#" class="social-icon"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>
