<!-- FALLOUT -->
<div *ngFor="let sagaOne of sagasFirst" class="modal fade" id="fallout" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" [id]="sagaOne.id.toString()">
      <button type="button" id="btnCloseModal" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      <div class="containSaga">
        <div class="showGame">
          <div class="row">
            <div class="col-lg-4">
              <img [src]="selectedFallout ? selectedFallout.pictGame : sagaOne.pictGame" alt="pictTlou" class="img-fluid w-100" />
            </div>
            <div class="col-lg-8">
              <p class="title">{{ selectedFallout ? selectedFallout.title : sagaOne.title }}</p>
              <p class="describe">{{ selectedFallout ? selectedFallout.info : sagaOne.info }}</p>
              <div class="info">
                <div class="typeGame">
                  <button type="button" id="btnOne">{{ selectedFallout ? selectedFallout.typeOne : sagaOne.typeOne }}</button>
                  <button type="button" id="btnTwo">{{ selectedFallout ? selectedFallout.typeTwo : sagaOne.typeTwo }}</button>
                  <button type="button" id="btnThree">{{ selectedFallout ? selectedFallout.typeThree : sagaOne.typeThree }}</button>
                </div>
                <div class="test">
                  <button type="button" id="btnCritics"><a href="#">TEST</a></button>
                <button type="button" id="btnPrice"><span class="price">{{ selectedFallout ? selectedFallout.price : sagaOne.price }}€</span><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="listGames">
          <div class="row">
            <div *ngFor="let game of sagasFirst" class="col-lg-2">
              <img
                [src]="game.pictGame"
                alt="pictGame"
                class="img-fluid w-100"
                (click)="showFalloutInfo(game)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DOOM -->
<div *ngFor="let sagaTwo of sagasSecond" class="modal fade" id="doom" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" [id]="sagaTwo.id.toString()">
      <button type="button" id="btnCloseModal" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      <div class="containSaga">
        <div class="showGame">
          <div class="row">
            <div class="col-lg-4">
              <img [src]="selectedDoom ? selectedDoom.pictGame : sagaTwo.pictGame" alt="pictTlou" class="img-fluid w-100" />
            </div>
            <div class="col-lg-8">
              <p class="title">{{ selectedDoom ? selectedDoom.title : sagaTwo.title }}</p>
              <p class="describe">{{ selectedDoom ? selectedDoom.info : sagaTwo.info }}</p>
              <div class="info">
                <div class="typeGame">
                  <button type="button" id="btnOne">{{ selectedDoom ? selectedDoom.typeOne : sagaTwo.typeOne }}</button>
                  <button type="button" id="btnTwo">{{ selectedDoom ? selectedDoom.typeTwo : sagaTwo.typeTwo }}</button>
                  <button type="button" id="btnThree">{{ selectedDoom ? selectedDoom.typeThree : sagaTwo.typeThree }}</button>
                </div>
                <div class="test">
                  <button type="button" id="btnCritics"><a href="#">TEST</a></button>
                <button type="button" id="btnPrice"><span class="price">{{ selectedDoom ? selectedDoom.price : sagaTwo.price }}€</span><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="listGames">
          <div class="row">
            <div *ngFor="let game of sagasSecond" class="col-lg-2">
              <img
                [src]="game.pictGame"
                alt="pictGame"
                class="img-fluid w-100"
                (click)="showDoomInfo(game)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- GOD OF WAR -->
<div *ngFor="let sagaThird of sagasThird" class="modal fade" id="godOfWar" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" [id]="sagaThird.id.toString()">
      <button type="button" id="btnCloseModal" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      <div class="containSaga">
        <div class="showGame">
          <div class="row">
            <div class="col-lg-4">
              <img [src]="selectedGodOfWar ? selectedGodOfWar.pictGame : sagaThird.pictGame" alt="pictTlou" class="img-fluid w-100" />
            </div>
            <div class="col-lg-8">
              <p class="title">{{ selectedGodOfWar ? selectedGodOfWar.title : sagaThird.title }}</p>
              <p class="describe">{{ selectedGodOfWar ? selectedGodOfWar.info : sagaThird.info }}</p>
              <div class="info">
                <div class="typeGame">
                  <button type="button" id="btnOne">{{ selectedGodOfWar ? selectedGodOfWar.typeOne : sagaThird.typeOne }}</button>
                  <button type="button" id="btnTwo">{{ selectedGodOfWar ? selectedGodOfWar.typeTwo : sagaThird.typeTwo }}</button>
                  <button type="button" id="btnThree">{{ selectedGodOfWar ? selectedGodOfWar.typeThree : sagaThird.typeThree }}</button>
                </div>
                <div class="test">
                  <button type="button" id="btnCritics"><a href="#">TEST</a></button>
                <button type="button" id="btnPrice"><span class="price">{{ selectedGodOfWar ? selectedGodOfWar.price : sagaThird.price }}€</span><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="listGames">
          <div class="row">
            <div *ngFor="let game of sagasThird" class="col-lg-2">
              <img
                [src]="game.pictGame"
                alt="pictGame"
                class="img-fluid w-100"
                (click)="showGodOfWarInfo(game)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>