<!-- FALLOUT -->
<div class="modal fade" id="fallout">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" id="btnCloseModal" data-bs-dismiss="modal"><i class="fas fa-times"></i></button>
            <div class="row">
                <div class="col-lg-4">
                    <img src="/assets/picts/news/articles/tlouPart3.jpg" alt="pictTlou" class="img-fluid w-100"/>
                </div>
                <div class="col-lg-8">
                    
                </div>
            </div>
        </div>
    </div>
</div>