<!-- BIOSHOCK -->
<div *ngFor="let sagaSeven of sagasSeven" class="modal fade" id="bioshock" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" [id]="sagaSeven.id.toString()">
      <button type="button" id="btnCloseModal" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      <div class="containSaga">
        <div class="showGame">
          <div class="row">
            <div class="col-lg-4">
              <img [src]="selectedBioshock ? selectedBioshock.pictGame : sagaSeven.pictGame" alt="pictTlou" class="img-fluid w-100" />
            </div>
            <div class="col-lg-8">
              <p class="title">{{ selectedBioshock ? selectedBioshock.title : sagaSeven.title }}</p>
              <p class="describe">{{ selectedBioshock ? selectedBioshock.info : sagaSeven.info }}</p>
              <div class="info">
                <div class="typeGame">
                  <button type="button" id="btnOne">{{ selectedBioshock ? selectedBioshock.typeOne : sagaSeven.typeOne }}</button>
                  <button type="button" id="btnTwo">{{ selectedBioshock ? selectedBioshock.typeTwo : sagaSeven.typeTwo }}</button>
                  <button type="button" id="btnThree">{{ selectedBioshock ? selectedBioshock.typeThree : sagaSeven.typeThree }}</button>
                </div>
                <div class="test">
                  <button type="button" id="btnCritics"><a href="#">TEST</a></button>
                <button type="button" id="btnPrice"><span class="price">{{ selectedBioshock ? selectedBioshock.price : sagaSeven.price }}€</span><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="listGames">
          <div class="row">
            <div *ngFor="let game of sagasSeven" class="col-lg-2">
              <img
                [src]="game.pictGame"
                alt="pictGame"
                class="img-fluid w-100"
                (click)="showBioshockInfo(game)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CYBERPUNK 2077 -->
<div *ngFor="let sagaEigth of sagasEigth" class="modal fade" id="cyberpunk2077" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" [id]="sagaEigth.id.toString()">
      <button type="button" id="btnCloseModal" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      <div class="containSaga">
        <div class="showGame">
          <div class="row">
            <div class="col-lg-4">
              <img [src]="selectedCyberpunk2077 ? selectedCyberpunk2077.pictGame : sagaEigth.pictGame" alt="pictTlou" class="img-fluid w-100" />
            </div>
            <div class="col-lg-8">
              <p class="title">{{ selectedCyberpunk2077 ? selectedCyberpunk2077.title : sagaEigth.title }}</p>
              <p class="describe">{{ selectedCyberpunk2077 ? selectedCyberpunk2077.info : sagaEigth.info }}</p>
              <div class="info">
                <div class="typeGame">
                  <button type="button" id="btnOne">{{ selectedCyberpunk2077 ? selectedCyberpunk2077.typeOne : sagaEigth.typeOne }}</button>
                  <button type="button" id="btnTwo">{{ selectedCyberpunk2077 ? selectedCyberpunk2077.typeTwo : sagaEigth.typeTwo }}</button>
                  <button type="button" id="btnThree">{{ selectedCyberpunk2077 ? selectedCyberpunk2077.typeThree : sagaEigth.typeThree }}</button>
                </div>
                <div class="test">
                  <button type="button" id="btnCritics"><a href="#">TEST</a></button>
                <button type="button" id="btnPrice"><span class="price">{{ selectedCyberpunk2077 ? selectedCyberpunk2077.price : sagaEigth.price }}€</span><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="listGames">
          <div class="row">
            <div *ngFor="let game of sagasEigth" class="col-lg-2">
              <img
                [src]="game.pictGame"
                alt="pictGame"
                class="img-fluid w-100"
                (click)="showCyberpunk2077Info(game)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ASSASSIN'S CREED-->
<div *ngFor="let sagaNine of sagasNine" class="modal fade" id="assassinsCreed" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content" [id]="sagaNine.id.toString()">
      <button type="button" id="btnCloseModal" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
      <div class="containSaga">
        <div class="showGame">
          <div class="row">
            <div class="col-lg-4">
              <img [src]="selectedAssassinsCreed ? selectedAssassinsCreed.pictGame : sagaNine.pictGame" alt="pictTlou" class="img-fluid w-100" />
            </div>
            <div class="col-lg-8">
              <p class="title">{{ selectedAssassinsCreed ? selectedAssassinsCreed.title : sagaNine.title }}</p>
              <p class="describe">{{ selectedAssassinsCreed ? selectedAssassinsCreed.info : sagaNine.info }}</p>
              <div class="info">
                <div class="typeGame">
                  <button type="button" id="btnOne">{{ selectedAssassinsCreed ? selectedAssassinsCreed.typeOne : sagaNine.typeOne }}</button>
                  <button type="button" id="btnTwo">{{ selectedAssassinsCreed ? selectedAssassinsCreed.typeTwo : sagaNine.typeTwo }}</button>
                  <button type="button" id="btnThree">{{ selectedAssassinsCreed ? selectedAssassinsCreed.typeThree : sagaNine.typeThree }}</button>
                </div>
                <div class="test">
                  <button type="button" id="btnCritics"><a href="#">TEST</a></button>
                <button type="button" id="btnPrice"><span class="price">{{ selectedAssassinsCreed ? selectedAssassinsCreed.price : sagaNine.price }}€</span><i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="listGames">
          <div class="row">
            <div *ngFor="let game of sagasNine" class="col-lg-2">
              <img
                [src]="game.pictGame"
                alt="pictGame"
                class="img-fluid w-100"
                (click)="showAssassinsCreedInfo(game)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>