<div class="contain" [style.backgroundImage]="'url(' + currentWallpaper + ')'">
  <div class="navbar navbar-expand navbar-lg">
    <div class="navbar-brand">
      <a href="/public/index.html">
        <img src="/assets/picts/pixelsGeekLogo.png" class="img-fluid w-100" alt="pixelsGeekLogo" />
      </a>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="##" class="nav-link">JEUX</a>
      </li>
      <li class="nav-item">
        <a href="##" class="nav-link">VETEMENTS</a>
      </li>
      <li class="nav-item">
        <a href="##" class="nav-link">GOODIES</a>
      </li>
      <button type="button" id="btnAccount">
        <i class="fa-solid fa-user"></i>
      </button>
    </ul>
  </div>
  <div class="show">
    <div id="carouselUnivers" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div *ngFor="let saga of sagasOne" class="col-lg-4">
              <img
                [src]="saga.logo"
                alt="pictSaga"
                class="img-fluid w-100 saga"
                (mousemove)="showSaga(saga.wallpaper)"
                data-bs-toggle="modal"
                [attr.data-bs-target]="saga.ref"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div *ngFor="let saga of sagasTwo" class="col-lg-4">
              <img
                [src]="saga.logo"
                alt="pictSaga"
                class="img-fluid w-100 saga"
                (mousemove)="showSaga(saga.wallpaper)"
                data-bs-toggle="modal"
                [attr.data-bs-target]="saga.ref"
              />
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div *ngFor="let saga of sagasThree" class="col-lg-4">
              <img
                [src]="saga.logo"
                alt="pictSaga"
                class="img-fluid w-100 saga"
                (mousemove)="showSaga(saga.wallpaper)"
                data-bs-toggle="modal"
                [attr.data-bs-target]="saga.ref"
              />
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselUnivers" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselUnivers" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
