* {
    box-sizing: border-box;
}

body {
    display: block;
    margin: auto;
}

// MIXIN & ROOT
$firstColor: azure;
$secondColor: black;
$thirdColor: darkred;
$fourColor: #10a103;
$fiveColor: #0096d1;
$sixColor: #9b0000;

.contain {
    height: 930px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        .navbar {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            .navbar-brand {
                .img-fluid {
                    height: 160px;
                    max-width: 340px;
                }
            }
            #btnBar {
                display: none;
            }
            .navbar-nav {
                column-gap: 100px;
                display: flex;
                margin-right: 10px;
                align-items: center;
                flex-direction: row;
                .nav-item {
                    .nav-link {
                        font-size: 1.5em;
                        color: $firstColor;
                        font-family: spantaran;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                #btnAccount {
                    cursor: pointer;
                    font-size: 1.8em;
                    color: $firstColor;
                    border: transparent;
                    background: transparent;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .show {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 40%);
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        .row {
                            text-align: center;
                            .col-lg-4 {
                                .img-fluid {
                                    opacity: 0.8;
                                    height: 150px;
                                    cursor: pointer;
                                    max-width: 340px;
                                    transform: scale(0.8);
                                    transition: all 0.25ms ease;
                                    &:hover {
                                        opacity: 1.0;
                                        transform: scale(1.0);
                                    }
                                }
                            }
                        }
                    }
                }
                .carousel-control-prev, .carousel-control-next {
                    margin-left: -30px;
                    margin-right: -30px;
                    .carousel-control-prev-icon, .carousel-control-next-icon {
                        color: black;
                    }
                }
            }
        }
    
}

.why {
    height: 120px;
    background-color: rgb(51, 51, 51);
    .reponse {
        position: relative;
        top: 50%;
        left: 50%;
        letter-spacing: 7px;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: 1.8em;
        color: $firstColor;
        font-family: futureEarth;
    }
}

.news {
    position: relative;
    width: 100%;
    .containNews {
        position: relative;
        .newsBackground {
            position: relative;
            top: 50%;
            left: 0;
            height: 55vh;
            width: 100%;
            object-fit: cover;
        }
        .listNews {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .lastNews {
               color: $firstColor;
               font-family: oldRepublic;
            }
            .containCards {
                column-gap: 100px;
                display: flex;    
                margin: 40px auto;           
                align-items: center;
                flex-direction: row;
                justify-content: center;
                .col-lg-4 {
                    .card {
                        background: transparent;
                        height: 280px;
                        max-width: 320px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        .card-body {
                            .newsArticles {
                                padding: 10px;
                                opacity: 0.0;
                                cursor: pointer;
                                height: 60px;
                                position: relative;
                                top: 90%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                background-color: black;
                                .titleNews {
                                    position: relative;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    font-size: 0.8em;
                                    color: $firstColor;
                                    text-align: center;
                                    font-family: oldRepublic;
                                    
                                }
                                &:hover {
                                    opacity: 1.0;
                                }
                            }
                        }
                    }
                }
            }
            .otherNews {
                margin-top: 20px;
                a {
                    font-size: 1.4em;
                    color: $firstColor;
                    font-family: spantaran;
                    text-decoration: none;
                    &:hover {
                        text-shadow: 0 0 15px #FFF, 9px -21px 5px rgba(206,89,55,0);
                    }
                }
            }
            .footer {
                display: flex;
                margin: 0px auto;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                .copyrigth {
                    font-size: 1.4em;
                    margin-left: -410px;
                    color: $firstColor;
                    font-family: futureEarth;
                }
                .listSocial {
                    display: flex;
                    column-gap: 60px;
                    margin-right: -410px;
                    align-items: center;
                    flex-direction: row;
                    list-style-type: none;
                    li {
                        a {
                            font-size: 1.3em;
                            color: $firstColor;
                            text-decoration: none;
                            .fa-facebook-f {
                                &:hover {
                                    color: $fourColor;
                                    text-shadow: 0 0 15px $fourColor, 9px -21px 5px rgba(206,89,55,0);
                                }
                            }
                            .fa-twitter {
                                &:hover {
                                    color: $fiveColor;
                                    text-shadow: 0 0 15px $fiveColor, 9px -21px 5px rgba(206,89,55,0);
                                }
                            }
                            .fa-youtube {
                                &:hover {
                                    color: $sixColor;
                                    text-shadow: 0 0 15px $sixColor, 9px -21px 5px rgba(206,89,55,0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#tlouArticle, #rdrArticle, #ac4BlackFlagArticle, #cyberpunk2077Article {
    .modal-dialog {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1800px;
        .modal-content {
            
            background-image: url('/assets/picts/news/articles/articleBackground.jpeg');
            #btnCloseModal {
                position: absolute;
                top: -3%;
                right: -2%;
                font-size: 1.8em;
                color: $thirdColor;
                border: transparent;
                background: transparent;
                transform: translate(-50%, -50%);
                &:hover {
                    color: $firstColor;
                }
            }
            .row {
                overflow: auto;
                .col-lg-5 {
                    .img-fluid {
                        height: 100%;
                        max-width: 100%;
                    }
                }
                .col-lg-7 {
                    padding: 20px;
                    p {
                        color: $firstColor;
                        font-family: oldRepublic;
                    }
                    .info {
                        padding: 10px;
                        margin-bottom: 20px;
                    
                        ul {
                            li {
                                font-style: italic;
                                color: $firstColor;
                                font-family: oldRepublic;
                            }
                        }
                    }
                }
            }
        }
    }
}

// SAGAS
#fallout, #doom, #godOfWar, #theLastOfUs, #theWitcher, #massEffect, #bioshock, #cyberpunk2077, #assassinsCreed {
    .modal-dialog {
        .modal-content {
            padding: 20px;
            #btnCloseModal {
                position: absolute;
                top: -2%;
                right: -3%;
                border: transparent;
                background: transparent;
            }
            .containSaga {
                display: flex;
                flex-direction: column;
                .showGame {
                    .row {
                        .col-lg-4 {
                            .img-fluid {
                                height: 300px;
                                max-width: 250px;
                            }
                        }
                        .col-lg-8 {
                            .title {
                                font-size: 1.4em;
                                font-family: oldRepublic;
                            }
                            .typeGame {
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                            }
                            .describe {
                                margin: 15px auto;
                                font-size: 1.2em;
                            }
                            .info {
                                display: flex;
                                align-items: center;
                                flex-direction: row;
                                justify-content: center;
                            }
                        }
                    }
                }
                .listGames {
                    margin: 30px auto;
                    .row {
                        .col-lg-2 {
                            .img-fluid {
                                cursor: pointer;
                                opacity: 0.8;
                                height: 160px;
                                max-width: 150px;
                                transition: all 0.25ms ease;
                                &:hover {
                                    opacity: 1.0;
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// FONTS
@font-face {
    font-family: oldRepublic;
    src: url('./assets/fonts/OldRepublic.ttf');
}

@font-face {
    font-family: spantaran;
    src: url('./assets/fonts/Spantaran.ttf');
}

@font-face {
    font-family: futureEarth;
    src: url('./assets/fonts/futureEarth.ttf');
}